.java-version

operation.log

*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml

target
.idea

*~
dumps/*
build/*
repro/*
*/build/*
shared/*